<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis/BdsMapper.xml">
	<select id="newpdtview" resultType="pdtDTO" parameterType="String">
		SELECT * 
		FROM new_pro_view 
	</select>
	
	<select id="bestpdtview" resultType="pdtDTO" parameterType="String">
		SELECT * 
		FROM best_pro_view 
	</select>

	<insert id="meminsert" parameterType="memDTO">
		INSERT INTO member(mid, mpw, mname, memail) 
		VALUES(#{mid}, #{mpw}, #{mname}, #{memail})
	</insert>
	
	
	<select id="memlogin" resultType="memDTO" parameterType="memDTO">
		SELECT * 
		FROM member 
		WHERE mid=#{mid} AND mpw=#{mpw}
	</select>
	
	<select id="sessionlogin" resultType="memDTO" parameterType="memDTO">
		SELECT * 
		FROM member 
		WHERE mid=#{mid} AND mpw=#{mpw} 
	</select>
	
	
	<select id="memidcheck" resultType="memDTO" parameterType="String">
		SELECT * 
		FROM member 
		WHERE mid=#{memberid} 
	</select>
	
	
	<!-- 게시물 목록을 띄워주는 sql -->
	<select id="boardlistALL" resultType="boardDTO">
		SELECT * FROM tblboard
		ORDER BY bno DESC
	</select>
	
	<!-- 글쓰기에서 글을 쓰면 뜨는 글쓰는 창에서 값을 입력하면 디비에 입력해줌 -->
	<insert id="boardinsert">
		INSERT INTO tblboard(bno, title, contents, writer)
		VALUES(seq_tblboard_bno.nextval,#{title}, #{contents}, #{writer})
	</insert>
	
	<!-- 게시글 목록에서 보고 싶은 글을 클릭하면 상세페이지가 뜬다. -->
	<select id="boarddetailview" resultType="boardDTO" parameterType="Integer">
		SELECT *
		FROM tblboard
		WHERE bno = #{bno}
	</select>
	
	<!-- 게시글을 수정하는 sql -->
	<update id="boarddetailsave" parameterType="boardDTO">
		UPDATE tblboard
		SET title=#{title}, contents=#{contents}
		WHERE bno=#{bno}
		
	</update>
	
	<!-- 게시글을 삭제하는 기능 -->
	<delete id="boarddelete" parameterType="Integer">
		DELETE FROM tblboard
		WHERE bno=#{bno}
	</delete>
	
	
	<!--  -->
	<!-- CDATA를 쓰는 이유는 sql에서 사용하는 부등호를 xml에서 쓰면 태그에 사용되는 꺽쇠(텍스트)로 인식 되기 때문에 꼭서줘야 한다. -->
	<select id="countPaging" resultType="int">
		<![CDATA[
			SELECT count(bno)
			FROM tblboard
			WHERE bno > 0
		]]>
	</select>
	
	
	<!-- 게시글을 10개만 띄워주는 기능을 하는 sql -->
	<select id="listCriteria" resultType="boardDTO">
		<![CDATA[
			SELECT *
			FROM (
				SELECT rownum rnum,
				a.*
				FROM (
					SELECT *
					FROM tblboard
					WHERE bno > 0
					ORDER BY bno desc
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>
	
	
	<!-- 게시글을 클릭하면 조회수가 증가함 -->
	<update id="boardViewCnt">
		UPDATE tblboard
		SET viewcnt = viewcnt+1
		WHERE bno=#{bno}
	</update>
	
	
	<!-- 댓글을 보여주는 sql -->
	<select id="replyAll" resultType="replyDTO" parameterType="Integer">
		SELECT *
		FROM tblreply
		WHERE bno=#{bno}
	</select>
	
	<!-- 댓글을 입력해서 저장하는 sql -->
	<insert id="replyInsert" parameterType="replyDTO">
		INSERT INTO tblreply(rno, content, writer, bno) 
		VALUES(seq_tblreply_rno.nextval ,#{content}, #{writer}, #{bno})
	</insert>
	
	<delete id="replydelete" parameterType="Integer">
		DELETE FROM tblreply
		WHERE rno = #{rno}
	</delete>
	
	<select id="boardSearch" resultType="boardDTO" parameterType="criteriaDTO">
		<![CDATA[
			SELECT *
			FROM (
				SELECT rownum rnum,
				a.*
				FROM (
					SELECT *
					FROM tblboard
					WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR contents LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%'
					ORDER BY bno desc
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>
	
	
</mapper>



























