<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis/BdsMapper.xml">

	<select id="logincheck" parameterType="memDTO" resultType="memDTO">
		SELECT *
		FROM member
		WHERE mid=#{mid} AND mpw=#{mpw}
	</select>

	<select id="newpdtview" resultType="pdtDTO" parameterType="String">
		SELECT * 
		FROM new_pro_view 
	</select>
	
	<select id="bestpdtview" resultType="pdtDTO" parameterType="String">
		SELECT * 
		FROM best_pro_view 
	</select>

	<insert id="meminsert" parameterType="memDTO">
		INSERT INTO member(mid, mpw, mname, memail) 
		VALUES(#{mid}, #{mpw}, #{mname}, #{memail})
	</insert>
	
	
	<select id="memlogin" resultType="memDTO" parameterType="memDTO">
		SELECT * 
		FROM member 
		WHERE mid=#{mid} AND mpw=#{mpw}
	</select>
	
	<select id="sessionlogin" resultType="memDTO" parameterType="memDTO">
		SELECT * 
		FROM member 
		WHERE mid=#{mid} AND mpw=#{mpw} 
	</select>
	
	
	<select id="memidcheck" resultType="memDTO" parameterType="String">
		SELECT * 
		FROM member 
		WHERE mid=#{memberid} 
	</select>
	
	
	<!-- 게시물 목록을 띄워주는 sql -->
	<select id="boardlistALL" resultType="boardDTO">
		SELECT * FROM tblboard
		ORDER BY ref DESC, re_step ASC 
	</select>
	
	<!-- 글쓰기에서 글을 쓰면 뜨는 글쓰는 창에서 값을 입력하면 디비에 입력해줌 -->
	<insert id="boardinsert">
		INSERT INTO tblboard(bno, title, contents, writer, filename, filesize, ref, re_step, re_level)
		VALUES((SELECT nvl(max(bno)+1, 1) from tblboard),#{title}, #{contents}, #{writer}, #{filename}, #{filesize}, (SELECT nvl(max(bno)+1, 1) from tblboard), 1 ,0)
	</insert>
	
	<!-- 게시글 목록에서 보고 싶은 글을 클릭하면 상세페이지의 정보를 가져오는 sql문 -->
	<select id="boarddetailview" resultType="boardDTO" parameterType="Integer">
		SELECT *
		FROM tblboard
		WHERE bno = #{bno}
	</select>
	
	<!-- 게시글을 수정하는 sql -->
	<update id="boarddetailsave" parameterType="boardDTO">
		UPDATE tblboard
		SET title=#{title}, contents=#{contents}
		WHERE bno=#{bno}
		
	</update>
	
	<!-- 게시글을 삭제하는 기능 -->
	<delete id="boarddelete" parameterType="Integer">
		DELETE FROM tblboard
		WHERE bno=#{bno}
	</delete>
	
	
	
	<!--  -->
	<!-- CDATA를 쓰는 이유는 sql에서 사용하는 부등호를 xml에서 쓰면 태그에 사용되는 꺽쇠(텍스트)로 인식 되기 때문에 꼭서줘야 한다. -->
	<select id="countPaging" resultType="int">
		<![CDATA[
			SELECT count(bno)
			FROM tblboard
			WHERE bno > 0
		]]>
	</select>
	
	<!-- 내가 키워드 넣은 것이 들어 있는 것을 가져올 수 있도록 하는 것이다. -->
	<select id="scountPaging"  resultType="int">
		<![CDATA[
			SELECT count(bno)
			FROM tblboard]]>
			<if test='flag == "1"'>
				<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR contents LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "2"'>
				<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "3"'>
				<![CDATA[WHERE bno > 0 AND contents LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "4"'>
				<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR contents LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "5"'>
				<![CDATA[WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%']]>
			</if>
		
	</select>
	
	<!-- 게시글을 10개만 띄워주는 기능을 하는 sql -->
	<select id="listCriteria" parameterType="criteriaDTO" resultType="boardDTO">
		<![CDATA[
			SELECT *
			FROM (
				SELECT rownum rnum,
				a.*
				FROM (
					SELECT b.*, (SELECT COUNT(*)
							FROM tblreply d
							WHERE b.bno = d.bno) replycnt
					FROM tblboard b
					WHERE bno > 0
					ORDER BY ref desc, re_step
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>
	
	
	<!-- 게시글을 클릭하면 조회수가 증가할 수 있도록 하는 sql문이다. -->
	<update id="boardViewCnt">
		UPDATE tblboard
		SET viewcnt = viewcnt+1
		WHERE bno=#{bno}
	</update>
	
	
	<!-- 댓글을 보여주는 sql -->
	<select id="replyAll" resultType="replyDTO" parameterType="Integer">
		SELECT *
		FROM tblreply
		WHERE bno=#{bno}
		ORDER BY rno
	</select>
	
	<!-- 댓글을 입력해서 저장하는 sql -->
	<insert id="replyInsert" parameterType="replyDTO">
		INSERT INTO tblreply(rno, content, writer, bno) 
		VALUES(seq_tblreply_rno.nextval ,#{content}, #{writer}, #{bno})
	</insert>
	
	<delete id="replydelete" parameterType="Integer">
		DELETE FROM tblreply
		WHERE rno = #{rno}
	</delete>
	
	<delete id="replydeleteall" parameterType="Integer">
		DELETE FROM tblreply
		WHERE bno = #{bno}
	</delete>
	
	<!-- 검색을 하게 해주는 쿼리문 -->
	<select id="boardSearch" resultType="boardDTO" parameterType="criteriaDTO">
		<![CDATA[
			SELECT *
			FROM (
				SELECT rownum rnum,
				a.*
				FROM (
					SELECT *
					FROM tblboard]]>
					<if test='flag == "1"'>
						<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR contents LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%']]>
					</if>
					<if test='flag == "2"'>
						<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%']]>
					</if>
					<if test='flag == "3"'>
						<![CDATA[WHERE bno > 0 AND contents LIKE '%'||#{keyword}||'%']]>
					</if>
					<if test='flag == "4"'>
						<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR contents LIKE '%'||#{keyword}||'%']]>
					</if>
					<if test='flag == "5"'>
						<![CDATA[WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%']]>
					</if>
					<![CDATA[
					ORDER BY bno desc
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}]]>
	</select>
	
	
	<!-- 게시판 상세 페이지 에서 좋아요를 눌렀을 때 좋아요가 올라가게 하는 것 -->
	<update id="boardFavorite" parameterType="Integer">
		UPDATE tblboard 
		SET goodcnt = goodcnt + 1
		WHERE bno = #{bno}
		
	</update>
	
	<!-- 게시판의 글 번호를 가지고 해당 게시글 하나 만의 정보를 가져오는 select문 -->
	<select id="boardselectone" parameterType="Integer" resultType="boardDTO">
		SELECT *
		FROM tblboard
		WHERE bno = #{bno}
	</select>
	
	
	<!-- flag에 따라서 각 다른 순서로 게시글 리스트를 출력하는 메소드 -->
	<select id="boardsort" parameterType="criteriaDTO" resultType="boardDTO">
		<![CDATA[
			SELECT *
			FROM (
				SELECT rownum rnum,
				a.*
				FROM (
					SELECT *
					FROM tblboard]]>
						<if test='flag == "최신순"'>
						<![CDATA[ORDER BY bno]]>
						</if>
						<if test='flag == "조회순"'>
						<![CDATA[ORDER BY viewcnt]]>
						</if>
						<if test='flag == "등록자"'>
						<![CDATA[ORDER BY writer]]>
						</if>
						<if test='flag == "제목"'>
						<![CDATA[ORDER BY title]]>
						</if>
					<![CDATA[
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}]]>
	</select>
	
	
	<!--  -->
	<select id="getFileName" parameterType="Integer" resultType="String">
		SELECT filename
		FROM tblboard
		WHERE bno=#{bno}
	</select>
	
	<!-- 게시글 상세 페이지에서 첨부파일을 다운로드 하면 다운로드의 숫자가 하나씩 증가하게 함 -->
	<update id="downloadcount" parameterType="Integer">
		UPDATE tblboard
		SET downcnt = downcnt + 1
		WHERE bno=#{bno}
	</update>
	
	<!-- 새로운 답글이 들어왔을 때 기존의 답글의 스텝값을 바꿔준다. -->
	<update id="updateStep">
		UPDATE tblboard
		SET re_step = re_step + 1
		WHERE ref=#{ref} AND re_step >= #{re_step}
	</update>
	
	
	<!-- 최종적으로 완성된 답글을 디비에 넣어준다. -->
	<insert id="answerInsert" parameterType="boardDTO">
		INSERT INTO tblboard(bno, title, contents, writer, filename, filesize, ref, re_step, re_level)
		VALUES((SELECT nvl(max(bno)+1, 1) from tblboard),#{title}, #{contents}, #{writer}, #{filename}, #{filesize}, #{ref},  #{re_step}, #{re_level})
	</insert>
	
	<!-- 수정된 회원정보를 업데이트 시켜준다. -->
	<update id="mypageupdate" parameterType="memDTO">	
		UPDATE member
		SET mphone=#{mphone}, mjuso=#{mjuso}, memail=#{memail}
		WHERE mid=#{mid}
	</update>
</mapper>



























